<div class="container">
    <br>
    <h1>Pipes</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">pipe</th>
                <th scope="col">Prodcuto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ nombre }} </td>
                <td> uppercase </td>
                <td> {{ nombre | uppercase }} </td>
            </tr>
            <tr>
                <td> {{ nombre }} </td>
                <td> lowercase </td>
                <td> {{ nombre | lowercase }} </td>
            </tr>
        </tbody>
    </table>
</div>